URxvt.color0: # 000000
URxvt.color8: # 555753
URxvt.color1: # 990099
URxvt.color9: # 8E388E
URxvt.color2: # 4E9A06
URxvt.color10: # 699000
URxvt.color3: # FFA500
URxvt.color11: # FFA500
URxvt.color4: # 3465A4
URxvt.color12: # 729FCF
URxvt.color5: # 75507B
URxvt.color13: # AD7FA8
URxvt.color6: # 06989A
URxvt.color14: # 34E2E2
URxvt.color7 : #FFFFFF
URxvt.color15 : #FFFFFF
URxvt.title: Console
URxvt.iconFile: /usr/share/icons/consola.svg
URxvt.scrollBar: false
URxvt.de profondeur: 32
URxvt.background: [80] # 000000
URxvt.foreground: # FFFFFF
URxvt.cursorCouleur: # FFFFFF
URxvt.cursorBlink: vrai
URxvt.font: xft: Terminus: pixelsize = 12
URxvt.letterSpace: -2
URxvt.perl-ext-commoni: par défaut, onglet
URxvt.tabbed.tab-bg: # 000000
URxvt.tabbed.tab-fg: # FFFFFF
URxvt.tabbed.tabbar-bg: # 000000
URxvt.tabbed.tabbar-fg: # 4E9A06